@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');
@import 'tailwindcss';

:root {
    --pomodoro-progress-fill-work-light: #DB6E00;
    --pomodoro-progress-fill-work-dark: #F0B300;
    --pomodoro-progress-fill-break-light: #0070BF;
    --pomodoro-progress-fill-break-dark: #00E6FF;
}

html {
    scroll-behavior: smooth;

    /* word-break: keep-all; */
    /* overflow-wrap: break-word; */
    @apply md:scroll-pt-15  min-h-full;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-xs: 500px;
    --breakpoint-2xs: 365px;

    --font-primary: "M PLUS 1", "monospace";

    /* ベースカラー */
    --color-base-light: var(--color-neutral-100);
    --color-base-dark: var(--color-neutral-800);
    --color-base: light-dark(var(--color-base-light), var(--color-base-dark));
    /* ラベル(テキストなど)カラー(ベースカラーを逆転) */
    --color-label-light: var(--color-base-dark);
    --color-label-dark: var(--color-base-light);
    --color-label: light-dark(var(--color-label-light), var(--color-label-dark));

    --color-information: var(--color-sky-400);
    --color-success: light-dark(var(--color-green-700), var(--color-green-500));
    --color-danger: light-dark(var(--color-red-600), var(--color-red-500));
    --color-warning: light-dark(var(--color-yellow-500), var(--color-yellow-300));
    --color-disabled: light-dark(var(--color-neutral-300), var(--color-neutral-500));

    --color-turn-on: var(--color-sky-400);
    --color-turn-off: var(--color-neutral-500);

    --spacing-safe-top: env(safe-area-inset-top);
    --spacing-safe-bottom: env(safe-area-inset-bottom);
    --spacing-safe-left: env(safe-area-inset-left);
    --spacing-safe-light: env(safe-area-inset-right);

    --spacing-safe-x: env(safe-area-inset-left);
    --spacing-safe-y: env(safe-area-inset-bottom);
}

@layer base {
    input[type="range"] {
        @apply relative appearance-none transition-all duration-300 my-0.5 h-6 cursor-pointer rounded-full inset-shadow-black inset-shadow-sm/50 bg-label/5 shadow-black hover:shadow-md/100 active:shadow-md/100 disabled:bg-disabled;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        @apply relative appearance-none transition-all duration-300 my-0.5 h-6 cursor-pointer rounded-full inset-shadow-black inset-shadow-sm/50 bg-label/5 shadow-black hover:shadow-md/100 active:shadow-md/100 disabled:bg-disabled;
    }
    input[type="range"]::-moz-range-track {
        @apply relative appearance-none transition-all duration-300 my-0.5 h-6 cursor-pointer rounded-full inset-shadow-black inset-shadow-sm/50 bg-label/5 shadow-black hover:shadow-md/100 active:shadow-md/100 disabled:bg-disabled;
    }

    input[type="range"]::-webkit-slider-thumb {
        @apply appearance-none rounded-full w-7 h-7 -mt-0.5 bg-base-light shadow-black shadow-md/100 disabled:bg-disabled;
    }
    input[type="range"]::-moz-range-thumb {
        @apply appearance-none rounded-full w-7 h-7 -mt-0.5 bg-base-light shadow-black shadow-md/100 disabled:bg-disabled;
    }

    h1 {
        @apply text-4xl md:text-5xl;
    }

    h2 {
        @apply text-3xl md:text-4xl;
    }

    h3 {
        @apply text-2xl md:text-3xl;
    }

    /* p {
        word-break: keep-all;
        overflow-wrap: break-word;
    } */

    input::placeholder {
        @apply text-label/70;
    }

    input[type="checkbox"] {
        @apply sr-only;
    }

    input[type="text"], input[type="email"], input[type="number"], textarea {
        @apply p-2 rounded-2xl border-label border disabled:bg-disabled disabled:border-disabled/50 disabled:cursor-not-allowed;
    }
}

@layer components {
    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-col-center {
        @apply flex flex-col justify-center items-center;
    }

    .button-general {
        @apply transition-all duration-300 shadow-black shadow-md/100 hover:shadow-md/50 active:shadow-sm/50  border-label/50 border hover:bg-label/10 active:bg-label/20 rounded-xl disabled:bg-disabled disabled:shadow-none cursor-pointer disabled:cursor-not-allowed;
    }

    .toggle-button:has(input[type="checkbox"]) {
        @apply cursor-pointer
               relative flex
               before:transition-all before:duration-200
               before:block before:content-[''] before:w-12 before:h-7 before:bg-base before:inset-shadow-black before:inset-shadow-sm/100 before:rounded-full
               after:transition-all after:duration-200
               after:content-[''] after:absolute after:left-0 after:w-5 after:h-5 after:mx-0.5 after:my-1 after:bg-label
               hover:after:translate-x-0.5
               after:rounded-full after:shadow-black after:shadow-sm/100;
    }

    .toggle-button:has(input[type="checkbox"]:checked) {
        @apply before:bg-turn-on after:translate-x-6 hover:after:translate-x-5.5;
    }

    .toggle-button:has(input[type="checkbox"]:disabled) {
        @apply before:bg-disabled;
    }

    .toggle-button:has(input[type="checkbox"]:focus-visible) {
        @apply rounded-2xl ring-label ring-1;
    }

    .checkbox-general {
        @apply after:transition-all after:duration-100 relative cursor-pointer
               before:content-[''] before:rounded-sm before:w-7 before:h-7 before:border-label before:border
               after:absolute after:opacity-0 after:top-5 after:left-2 after:w-3 after:h-5 after:border-label after:border-[0_3px_3px_0] after:rotate-45;
    }

    .checkbox-general:has(input[type="checkbox"]:checked) {
        @apply after:opacity-100;
    }

    .checkbox-general:has(input[type="checkbox"]:focus-visible) {
        @apply rounded-2xl ring-label ring-1;
    }

    .button-bg-turn-on {
        @apply bg-turn-on/30 hover:bg-turn-on/50 active:bg-turn-on/70;
    }

    .inline-link {
        @apply transition-all duration-300 text-sky-700 dark:text-sky-400 hover:text-sky-200 underline;
    }
}
